################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Webgentle.bookstore/Webgentle.bookstore/bin/Debug/netcoreapp3.1
/.vs
/Webgentle.bookstore/Webgentle.bookstore/obj
